<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Vehicle Loan</title>
</head>
<body>
  <!-- <h1>app Component</h1> -->
  <!-- <app-personal-details></app-personal-details> -->
  <!-- <app-loan-offer></app-loan-offer> -->
  <!-- <app-dashboard></app-dashboard> -->
  <!-- <app-loan-details></app-loan-details> -->
  <!--<h1>app Component</h1>-->
  <!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <app-emi-calculator></app-emi-calculator> -->
<!-- <app-vehicle-details></app-vehicle-details> -->
 <!-- <app-identity-details></app-identity-details> -->



  <div class="container-fluid">
    <router-outlet></router-outlet>
    <app-admin-dashboard></app-admin-dashboard>

  </div>
</body>
</html>
<!-- <app-get-eligibility></app-get-eligibility>  -->

<!-- <app-register></app-register> -->

<!-- <app-forgot-password></app-forgot-password> -->

<!-- <app-reset-password></app-reset-password> -->

<!-- <app-employment-details></app-employment-details> -->
<app-user-dashboard></app-user-dashboard>