<br>
<div class="container">
    <h3>Loan offers!</h3>
    <br>
    Principal Amount <input type="number" class="form-control" [(ngModel)]="amount"  />
    <br>
    
    
    <div>
        <button class="btn btn-primary" (click)="getAllLoanOffers(amount)"  >Get Loan Offers</button>
    </div>
    <br>
    <table *ngIf="offerTable && offerTable.length" class="table table-striped">
        <thead>
            <tr>
                <th>Principal Amount</th>
                <th>Rate Of Interest</th>
                <th>Tenure(in Months)</th>
                <th>EMI</th>
                <th>Select</th>
                
            </tr> 
        </thead>
        <tbody>
            <tr *ngFor="let offer of offerTable">
                <td>{{offer.offerAmount}}</td>
                <td>{{offer.offerRate}}</td>
                <td>{{offer.offerTenure}}</td>
                <td>{{offer.offerEmi}}</td>
                <Button class="btn btn-primary" >Select</Button>
            </tr>
        </tbody>
    </table>


<button routerLink="/application-form" class="btn btn-primary">Submit</button>

<div>
    <button>Apply now</button>
</div>
<!-- Principal Amount <input type="number" class="form-control" id="principal" formControlName="principal" [(ngModel)]="amount" class="form-control" /> -->

    <!-- <span *ngIf="validateForm.get('principal').hasError('required')" style="color: red;" >
        Principal is required
    </span>
    <span *ngIf="validateForm.get('principal').hasError('min')" style="color: red;" >
        Principal should be 5 digits
    </span> -->
    
    <!-- (click)="setValues(offer.offerAmount,offer.offerRate,offer.offerTenure)" -->