<h2>Eligibility Criteria</h2>
<p>Condition 1: If the User is Salaried and the Age is lesser than or equal to 21 then User is not eligible</p><br>
<p>Condition 2: If the User is Salaried and the Age is greater than 21 then User is eligible</p><br>
<p>Condition 3: If the User is Salaried and the Age is greater than 60 then User is not eligible</p><br>
<p>Condition 4: If the User is Salaried and the Age is lesser or equal to than 60 then User is eligible</p><br>
<p>Condition 5: If the User is Salaried and the Age is within the limit and User's Annual Salary is lesser than 240000 then User is not eligible</p><br>
<p>Condition 6: If the User is Salaried and the Age is within the limit and User's Annual Salary is greater than 240000 then User is eligible</p><br>
		
<p>Condition 7: If the User is Self Employed and the Age is lesser than or equal to 18 then User is not eligible</p><br>
<p>Condition 8: If the User is Self Employed and the Age is greater than 18 then User is eligible</p><br>
<p>Condition 9: If the User is Self Employed and the Age is greater than 65 then User is not eligible</p><br>
<p>Condition 10: If the User is Self Employed and the Age is lesser or equal to than 65 then User is eligible</p><br>		
<p>Condition 11: If the User is Self Employed and the Age is within the limit and User's Annual Salary is lesser than 180000 then User is not eligible</p><br>
<p>Condition 12: If the User is Self Employed and the Age is within the limit and User's Annual Salary is greater than 180000 then User is eligible</p><br>
				
