<h1> Personal Details</h1>

<button routerLink="../employment-details" class="btn btn-primary">Submit</button>

<div>
<label for="name">First Name</label>
<input id="name" type="text">
</div><br>

<div>
<label for="age">Age</label>
<input id="age" type="text">
</div><br>

<div>
<label for="gender">Gender</label>
<input id="gender" type="text">
</div><br>

<div>
<label for="mobile_number">Mobile Number</label>
<input id="mobile_number" type="text">
</div><br>

<div>
<label for="email">Email Id</label>
<input id="email" type="text">
</div>
<br>

<div>
<label for="password">Password</label>
<input id="password" type="text">
</div><br>
<div>
<label for="address">Address</label>
<input id="address" type="text">
</div><br>
<div>
<label for="state">State</label>
<input id="state" type="text">
</div><br>

<div>
<label for="city">City</label>
<input id="city" type="text">
</div><br>

<div>
    <label for="pin">Pin code</label>
    <input id="pin" type="text">
</div><br>

<button type="submit">Submit</button>