<h2>Register your Account</h2>

<div>
<label for="name">Name</label><br>
<input type="text" id="name" placeholder="Enter your full name"/>
</div>

<div>
    <label for="email">Email</label><br>
    <input type="text" id="email" placeholder="Enter your Email address"/>
</div>

<div>
    <label for="num">Mobile Number</label><br>
    <input type="text" id="num" placeholder="Enter your Mobile Number"/>
</div>

<div>
    <label for="pass">Password</label><br>
    <input type="text" id="pass" placeholder="Enter your Password"/>
</div>

<div>
    <label for="newpass">Password</label><br>
    <input type="text" id="newpass" placeholder="Enter your Password"/>
</div>


<button type="submit">Sign Up</button>

<span>Already have an account?</span> <a href="*">Sign in</a>.