<!-- <button id="ApplyBtn">Apply Loan</button> -->

<h1>Check Eligibility</h1>

<button routerLink="../loan-offers" class="btn btn-primary ms-5">Check Eligibility</button>

<router-outlet></router-outlet>
<h3>Vehicle Details</h3>

<div>
    <div>
        <input class="Info1" type="text" placeholder="Car Make"/>
    </div>
    <div>
        <input class="Info1" type="text" placeholder="Car Model"/>
    </div>
    <div>
        <input class="Info1" type="text" placeholder="ExShowroom Price"/>
    </div>
    <div>
        <input class="Info1" type="text" placeholder="On Road Price"/>
    </div>
</div>


<h3>Applicant Details</h3>

<div>
    <div>
        <input  class="Info2" type="text" placeholder="Name"/>
    </div>
    <div>
        <input  class="Info2" type="text" placeholder="Age"/>
    </div>
    <div>
        <input  class="Info2" type="text" placeholder="Gender"/>
    </div>
    <div>
        <input  class="Info2" type="text" placeholder="Type Of Employment"/>
    </div>
    <div>
        <input  class="Info2" type="text" placeholder="Yearly Salary"/>
    </div>
    <div>
        <input  class="Info2" type="text" placeholder="Existing EMI"/>
    </div>
</div>

<h3>Contact Details</h3>
<div>
    <div>
        <input class="Info3" type="text" placeholder="Mobile No"/>
    </div>
    <div>
        <input class="Info3" type="text" placeholder="Email ID"/>
    </div>
</div>

<button id="SubmitBtn"> Check Eligibility</button>

