  <div class="card">
    <div class="container">

      <br>

      <form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm)">

        <!-- ==================================================Vehicle Detail====================================================================== -->
        <div class="card">
          <div class="container">

            <div class="mb-3">
              <p class="text-center"><b>Vehicle Details</b></p>
              <label for="carMaker">Enter Car Maker</label>
              <input type="text" class="form-control" formControlName="carMaker" id="carMaker">
              <span *ngIf="validateForm.get('carMaker').hasError('required')" style="color: red;font-size: 12px;">
                Car Maker is Required
              </span>
              <span *ngIf="validateForm.get('carMaker').hasError('minlength')" style="color: red;font-size: 12px;">
                Min Length should be 3
              </span>
              <br><br>

              <label for="carModel">Enter Car Model</label>
              <input type="text" class="form-control" id="carModel" formControlName="carModel">
              <span *ngIf="validateForm.get('carModel').hasError('required')" style="color: red;font-size: 12px;">
                Car Model is Required
              </span>
              <span *ngIf="validateForm.get('carModel').hasError('minlength')" style="color: red;font-size: 12px;">
                Min Length should be 3
              </span>
              <br><br>

              <label for="exShowRoomPrice">Enter Showroom Price</label>
              <input type="number" class="form-control" id="exShowRoomPrice" formControlName="exShowRoomPrice">
              <span *ngIf="validateForm.get('exShowRoomPrice').hasError('required')"
                style="color: red;font-size: 12px;">
                Price is Required
              </span>
              <span *ngIf="validateForm.get('exShowRoomPrice').hasError('min')" style="color: red;font-size: 12px;">
                Price cannot be negative
              </span>
              <br><br>

              <label for="onRoadPrice">Enter On Road Price</label>
              <input type="number" class="form-control" id="onRoadPrice" formControlName="onRoadPrice">
              <span *ngIf="validateForm.get('onRoadPrice').hasError('required')" style="color: red;font-size: 12px;">
                Price is Required
              </span>
              <span *ngIf="validateForm.get('onRoadPrice').hasError('min')" style="color: red;font-size: 12px;">
                Price cannot be negative
              </span>
            </div>
          </div>
        </div>
        <br>


        <!-- ==================================================Applicant Detail====================================================================== -->

        <div class="card">
          <div class="container">
            <div class="mb-3">
              <p class="text-center"><b>Applicant Details</b></p>
              <label for="Name">Enter Your First Name</label>
              <input type="text" class="form-control" id="Name" formControlName="Name" [(ngModel)]="Name">
              <span *ngIf="validateForm.get('Name').hasError('required')" style="color: red;font-size: 12px;">
                Name is Required
              </span>
              <span *ngIf="validateForm.get('Name').hasError('minlength')" style="color: red;font-size: 12px;">
                Min Name Length should be 3
              </span>
              <span *ngIf="validateForm.get('Name').hasError('pattern')" style="color: red;font-size: 12px;">
                Numbers or Special Characters not allowed
              </span>

              <br><br>

              <label for="Age">Enter Your Age</label>
              <input type="number" class="form-control" id="Age" #A="ngModel" [(ngModel)]="age"
                [ngModelOptions]="{standalone: true}">
              <span *ngIf="(A.untouched)" style="color:red;font-size: 12px;">
                Age is required
              </span>

              <br>

              <br>
              <label class="form-label"><b>Select Gender</b></label>
              <div class="form-check">
                <input mdbRadio class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                <label class="form-check-label" for="flexRadioDefault1"> Male </label>
              </div>


              <div class="form-check">
                <input mdbRadio class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                  [checked]="true" />
                <label class="form-check-label" for="flexRadioDefault2"> Female </label>
              </div>

              <br>
              <div class="mb-3">
                <label class="form-label" for="Employment"><b>Select type Of Employment</b></label>
                <select class="form-select" name="Employment" [(ngModel)]="typeOfEmployment"
                  [ngModelOptions]="{standalone: true}" #T="ngModel">
                  <option value="Salaried">Salaried</option>
                  <option value="Self Employed">Self Employed</option>
                  <option value="Unemployed">Unemployed</option>
                </select>
                <span *ngIf="(T.untouched)" style="color:red;font-size: 12px;">
                  Type of Employment is required
                </span>


              </div>

              <label for="Salary">Enter Your Salary</label>
              <input type="number" class="form-control" id="Salary" #S="ngModel" [(ngModel)]="salary" name="Salary"
                [ngModelOptions]="{standalone: true}">
              <span *ngIf="(S.untouched)" style="color:red;font-size: 12px;">
                Salary is required
              </span>

              <br>

              <label for="existingEMI">Enter Your Existing EMI</label>
              <input type="number" class="form-control" id="existingEMI" #E="ngModel" name="existingEMI"
                [(ngModel)]="existingEMI" [ngModelOptions]="{standalone: true}">
              <span *ngIf="(E.untouched)" style="color:red;font-size: 12px;">
                Existing EMI is required(If does not exist put 0)
              </span>

              <br>

            </div>

          </div>
          <br>



        </div><br><br>

        <!-- ==================================================Contact Detail====================================================================== -->

        <div class="card">
          <div class="container">

            <div class="mb-3">
              <p class="text-center"><b>Contact Details</b></p><br>
              <label for="mobileNo">Enter Your Mobile Number</label>
              <input type="number" class="form-control" formControlName="mobileNo" id="MobileNo">
              <span *ngIf="validateForm.get('mobileNo').hasError('required')" style="color: red;font-size: 12px;">
                Mobile No is Required
              </span>
              <span *ngIf="validateForm.get('mobileNo').hasError('pattern')" style="color: red;font-size: 12px;">
                Mobile No is invalid
              </span>
              <br><br>

              <label for="emailId">Enter Your Email ID</label>
              <input type="text" class="form-control" formControlName="emailId" id="emailId">
              <span *ngIf="validateForm.get('emailId').hasError('required')" style="color: red;font-size: 12px;">
                Email is Required
              </span>
              <span *ngIf="validateForm.get('emailId').hasError('pattern')" style="color: red; font-size: 12px;">
                Email is invalid
              </span>
            </div>
          </div>
        </div>
        <br>

        <div class="text-center">
          <button class="btn btn-primary" type="submit" (click)="testEligibility()"
            [disabled]="validateForm.invalid">Check Eligibility</button>
        </div>
        <br>
        <router-outlet></router-outlet>

      </form>
    </div>
  </div>
