.application-form-wrapper{
    margin: 20px auto;
    width: 80%;
}

input.ng-invalid {
    background-color:pink;
}
/* input.ng-valid {
    background-color:lightgreen;
} */
.card-head{
}
.center{
    text-align: center;
}

/* -----------------------------------
 */

 