<div class="card">
  <div>
    <h2> LOGIN</h2>
  </div>

  <form [formGroup]="loginForm">

    <div class="card-body">
      <label for="email" class="form-label">Email address</label>
      <input formControlName="emailId" type="email" name="email" class="form-control" id="email"
        placeholder="Enter Email Id" [(ngModel)]="login.emailId">
      <span *ngIf="loginForm.get('emailId').hasError('required')" style="color: red;">Email is required</span>
      <span *ngIf="loginForm.get('emailId').hasError('pattern')" style="color: red;">Invalid email</span>
    </div> <br>

    <div class="card-body">
      <label for="password" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter Password"
        [(ngModel)]="login.password">
      <span *ngIf="loginForm.get('password').hasError('required')" style="color: red;"> Password required</span>
      <!-- <span *ngIf="loginForm.get('password').hasError('minlength')" style="color: red;"> Min Length should be 8</span> -->
    </div>

    <div>
      <button type="submit" class="btn btn-primary ms-5" (click)="loginId()">Login</button>
    </div> <br>

  </form>
</div>