<h1>HOME PAGE</h1>

<div>
    <button routerLink="/"  class="btn btn-primary ">Home</button>
    <button routerLink="about-us" class="btn btn-primary ms-5">About Us</button>
    <button routerLink="login" class="btn btn-primary ms-5">Login</button>
    <button routerLink="check-eligibility" class="btn btn-primary ms-5">Apply For Loan</button>
    <button routerLink="emi-calculator" class="btn btn-primary ms-5">EMI Calculator</button>
    <button *ngIf="isUserLoggedIn == 'true' || isAdminLoggedIn == 'true'" class="btn btn-primary ms-5" (click)="goToDashboard()">Dashboard</button>

</div>

<router-outlet></router-outlet>


